@model List<Category>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="category.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                  @foreach (var item in Model)
                 {
                     <a class="dropdown-item" asp-controller="Category" asp-action="Show" asp-route-id="@item.CategoryId">@item.CategoryName</a>
                 }
                </div>
              </li>