
@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Harita</h3>
                                    <div class="filters">
                                        <iframe class="ml-auto mr-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.4788140620694!2d28.838682450711026!3d40.99289202821918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4066160bf67c73e9%3A0x9c7e12ed01b2c11f!2zU2VudGV6IFlhesSxbMSxbQ!5e0!3m2!1str!2str!4v1660847976935!5m2!1str!2str" width="1100" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                    <div class="map-wrap m-t-45 m-b-20">
                                        <div id="vmap" style="height: 284px;"></div>
                                    </div>
                                </div>
