
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section">
      <div class="container">
        
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            
            <div class="row">
              <div class="col-md-12">
                <h2 class="mb-4">Sentez Yazılım</h2>
                <p class="mb-5"><img src="https://www.sentez.com/wp-content/uploads/AKI%C5%9E-D%C4%B0AGRAMI.jpg" alt="Image placeholder" class="img-fluid"></p>
                <p>Sentez Yazılım kurulduğu 1992 yılından bu yana bilişim alanında %100 yerli sermaye ile faaliyet göstermektedir. Ulusal ve uluslararası alanda gerçekleştirilen 100 ‘ lerce başarılı proje ve kendisini ispat etmiş, zengin ve benzersiz işlevsellikte ki yüksek teknoloji çözümleri ile Sentez Yazılım güvenilir, konusunda uzman ve lider firması konumuna gelmiştir.<br />

Bir kurumun gelişmesindeki en önemli unsurun “sürekli değişim” olduğuna inanarak uluslararası gelişimin üst düzeyde olduğu BT sektöründeki müşteri, çalışan ve çözüm ortakları ile yüksek standartlarda ürün ve hizmetler üretmeyi başarmıştır. Sentez Yazılım sunmuş olduğu ERP çözümleri birçok sektörün gelişmesinde de önemli katkılar sağlamıştır.<br />

Türkiye genelinde Tekstil – Konfeksiyon, Perakende – Toptan Mağaza, Dış Ticaret, Yiyecek – İçecek, Restoran, Konuk Ağırlama sektörleri başta olmak üzere Otomotiv, Maden, Elektronik, Plastik, Sağlık, İnşaat, Aqua Park gibi farklı sektörlerde başarılı projeler gerçekleştiren Sentez Yazılım, yurt dışında da; Rusya, Romanya, Bulgaristan, Özbekistan, Türkmenistan, Kırgızistan, Azerbaycan, Pakistan, Bangladeş, Çin, Vietnam, Mısır, Sudan, Irak, Katar, Ukrayna ve İngiltere’de farklı üretim sektörlerinde başarılı projelere imza attı.</p>
            </div>
            </div>





          </div>

          <!-- END main-content -->

          
          <!-- END sidebar -->

        </div>
      </div>
    </section>