                                <form asp-controller="Product" asp-action="Search" method="get">
                                    <input class="au-input au-input--xl" type="text" name="string1" id="string1" placeholder="marka adı giriniz..." />
                                    <button class="btn btn-primary" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>