@model EntityLayer.Concrete.Customer
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="ml-2">@Model.CompanyName Güncelle</h1>
<a class="btn btn-info ml-2 mb-2" href="/Customer/Show">Müşteri Sayfası</a>
                                <form asp-controller="Customer" asp-action="Update" method="post">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Müşteri</strong>
                                        <small> Form</small>
                                    </div>
                                    <div class="card-body card-block">
                                        
                                            <div class="form-group">
                                                <input asp-for="CustomerId" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">Şirket Adını Giriniz</label>
                                                <input asp-for="CompanyName" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">İletişim Adını Giriniz</label>
                                                <input asp-for="ContactName" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">İletişim Başlığını Giriniz</label>
                                                <input asp-for="ContactTitle" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">Müşteri Adresini Giriniz</label>
                                                <textarea asp-for="Address" type="text" class="form-control"><</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">Müşteri Şehrini Giriniz</label>
                                                <input asp-for="City" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">Müşteri Ülkesini Giriniz</label>
                                                <input asp-for="Region" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">Müşteri Posta Kodunu Giriniz</label>
                                                <input asp-for="PostalCode" type="text" class="form-control">
                                            </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary ml-2">Müşteri Güncelle</button>
                                </form>